*{
	font-family: 'Lato', sans-serif;
}

#HomeButton{
	display: block;
	width: 100%;
	margin-top: 3%;
	margin-left: 3%;
	color: lightgray;
	margin-bottom: 50px;
	color: lightgray;
	font-size: 40px;
}

.Anmerkung {
	margin-left:4%;
	color: gray;
	font-size: 20px;
}

.MainNav{
	position: relative;
	overflow: scroll;
	overflow: scroll;
	margin-left: 5%;
}

.MainNav li p{
	color: lightgray;
	cursor: default;
}

.MainNav li img {
	vertical-align: middle;
}

.NavHeadline{
	list-style-type: none;
	margin-top: 50px;
	color: gray;
	font-size: 25px;
}

.links{
	list-style-type: none;
	margin-top: 20px;
	margin-bottom:40px;
	color: gray;
	font-size: 20px;
}

.CodeButtons{
	cursor: pointer;
	margin: 4px;
	padding: 10px;
	border-radius: 10px;
}

.CodeButtons:hover{
	box-shadow: 0 0 3px 1px rgb(207, 73, 117);
}


.FolienLink{
	display: block;
	border-style: none;
	background-color: white;
	cursor: pointer;
	font-size: 20px;
}

.open {
	display: block;
}
.closed {
	display: none;
}


#sidebar span{
	text-align: left;
	font-family: 'Merriweather';
	width: 280px;
	position: fixed;
	transition: 0.5s;
	/* z-index: 1; */
	top: 150px;
	right: -140px;
	background: #eee;
	overflow-x: hidden;
	padding: 20px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	border-radius: 10px;
	cursor:default;
	font-size: 23px;
}

#sidebar span:hover{
	right: 10px;
}

#sidebar p{
	font-weight: lighter;
	color: grey;
	font-size: 23px;	
}
#sidebar li{
	list-style-type: none;
}

.MediaButtons{
	cursor: pointer;
	margin: 6px;
	padding: 10px;
	border-radius: 10px;
}

.MediaButtons:hover{
	box-shadow: 0 0 3px 1px rgb(207, 73, 117);
}

.Mail{
	display: block;
	margin:6px;
	padding: 10px;
	border-radius: 10px;
}

.Mail:hover{
	box-shadow: 0 0 3px 1px rgb(207, 73, 117);
}

#copyright{
	font-size:13px;
	color: grey;
}

.break{
	margin:13px;
	border-bottom: 1px dotted black;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:visited{
    color: palevioletred; 
}

a:link{
    color: plum;
}

a:hover{
	color:rgb(207, 73, 117);
}

a:active{
    color: purple;
}

#slideshow {
    /* border-radius: 5px;
    cursor: pointer; */
	transition: 0.3s;
	border-style: none;
	font-size: 20px;
	background-color: white;
	cursor: pointer;
	color: rgb(207, 73, 117);
}

.row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
	float: left;
	width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Caption text */
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* footer{
	position: fixed;
	float: right;
	bottom: 5px;
	right: 5px;
	width: 100%;
	background-color: rgb(255, 240, 242);
}

footer p{
	float: right;
	bottom: 10px;
	right: 20px;
	font-weight: lighter;
	color: grey;
	font-size: 80%;	
} */